.headerButton {
  background-color: #dddddd;
  padding: 14px 40px;
}

.centered {
  left: 50%;
}

.toClickMain {
  background-color: #dddddd;
  padding: 84px 240px;
}

.statsPrimary {
  font-family: arial;
  font-size: 72px;
}

.statsSecondary{
  font-family: arial;
  font-size: 24px;
}

.statsTeritary{
  font-family: arial;
  font-size: 16px;
}

.mainUpgradeButton{
  font-family: arial;
  padding: 15px 60px;
  background-color: #dddddd;
}
